202201-node-red-automation/flows.json
[
    {
        "id": "b3eb4265a1be88d8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1a36f15f2ba66532",
        "type": "http in",
        "z": "b3eb4265a1be88d8",
        "name": "HTTP GET /hello",
        "url": "/hello",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 180,
        "y": 160,
        "wires": [
            [
                "4e47fedcbec22b2e"
            ]
        ]
    },
    {
        "id": "4fe8954667297f06",
        "type": "template",
        "z": "b3eb4265a1be88d8",
        "name": "Hello Template",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<!DOCTYPE html>\n<html lang=\"en\">\n  <head>\n    <meta charset=\"UTF-8\">\n    <title>Hello from node-red</title>\n  </head>\n  <body>\n    {{^payload.name}}\n      <h1>Hello world!</h1>\n    {{/payload.name}}\n    {{#payload.name}}\n      <h1>Hello {{payload.name}}!</h1>\n    {{/payload.name}}\n    <p>Your lucky number is {{random}}</p>\n  </body>\n</html>",
        "output": "str",
        "x": 440,
        "y": 160,
        "wires": [
            [
                "0d52813489e99bd4"
            ]
        ]
    },
    {
        "id": "4b3c76a2671593db",
        "type": "debug",
        "z": "b3eb4265a1be88d8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 240,
        "wires": []
    },
    {
        "id": "0d52813489e99bd4",
        "type": "http response",
        "z": "b3eb4265a1be88d8",
        "name": "HTTP Response",
        "statusCode": "200",
        "headers": {},
        "x": 640,
        "y": 160,
        "wires": []
    },
    {
        "id": "4e47fedcbec22b2e",
        "type": "random",
        "z": "b3eb4265a1be88d8",
        "name": "Lucky Number",
        "low": 1,
        "high": 10,
        "inte": "true",
        "property": "random",
        "x": 300,
        "y": 240,
        "wires": [
            [
                "4fe8954667297f06",
                "4b3c76a2671593db"
            ]
        ]
    }
]