202201-node-red-automation/flows.json
[
    {
        "id": "70f2bb7fea6180a8",
        "type": "tab",
        "label": "App Engine",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b3eb4265a1be88d8",
        "type": "tab",
        "label": "Hello World",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b45064c480157bef",
        "type": "http in",
        "z": "70f2bb7fea6180a8",
        "name": "HTTP GET /_ah/start",
        "url": "/_ah/start",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 190,
        "y": 160,
        "wires": [
            [
                "c932c0dff546c990"
            ]
        ]
    },
    {
        "id": "5bccb43b82fda7c0",
        "type": "http in",
        "z": "70f2bb7fea6180a8",
        "name": "HTTP GET /_ah/stop",
        "url": "/_ah/stop",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 190,
        "y": 220,
        "wires": [
            [
                "c932c0dff546c990"
            ]
        ]
    },
    {
        "id": "e99ab3396c82fca3",
        "type": "http in",
        "z": "70f2bb7fea6180a8",
        "name": "HTTP GET /_ah/warmup",
        "url": "/_ah/warmup",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 210,
        "y": 280,
        "wires": [
            [
                "c932c0dff546c990"
            ]
        ]
    },
    {
        "id": "c932c0dff546c990",
        "type": "http response",
        "z": "70f2bb7fea6180a8",
        "name": "HTTP Response",
        "statusCode": "200",
        "headers": {},
        "x": 520,
        "y": 220,
        "wires": []
    },
    {
        "id": "17a167bf45b641ef",
        "type": "comment",
        "z": "70f2bb7fea6180a8",
        "name": "App Engine Instance Management",
        "info": "These endpoints aren't required but App Engine uses them for instance management so it's nice to have a 200 HTTP response for them.\n\nhttps://cloud.google.com/appengine/docs/standard/nodejs/how-instances-are-managed",
        "x": 520,
        "y": 140,
        "wires": []
    },
    {
        "id": "1a36f15f2ba66532",
        "type": "http in",
        "z": "b3eb4265a1be88d8",
        "name": "HTTP GET /hello",
        "url": "/hello",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 180,
        "y": 160,
        "wires": [
            [
                "4e47fedcbec22b2e"
            ]
        ]
    },
    {
        "id": "4fe8954667297f06",
        "type": "template",
        "z": "b3eb4265a1be88d8",
        "name": "Hello Template",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<!DOCTYPE html>\n<html lang=\"en\">\n  <head>\n    <meta charset=\"UTF-8\">\n    <title>Hello from node-red</title>\n  </head>\n  <body>\n    {{^payload.name}}\n      <h1>Hello world!</h1>\n    {{/payload.name}}\n    {{#payload.name}}\n      <h1>Hello {{payload.name}}!</h1>\n    {{/payload.name}}\n    <p>Your lucky number is {{random}}</p>\n  </body>\n</html>",
        "output": "str",
        "x": 440,
        "y": 160,
        "wires": [
            [
                "0d52813489e99bd4"
            ]
        ]
    },
    {
        "id": "4b3c76a2671593db",
        "type": "debug",
        "z": "b3eb4265a1be88d8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 240,
        "wires": []
    },
    {
        "id": "0d52813489e99bd4",
        "type": "http response",
        "z": "b3eb4265a1be88d8",
        "name": "HTTP Response",
        "statusCode": "200",
        "headers": {},
        "x": 640,
        "y": 160,
        "wires": []
    },
    {
        "id": "4e47fedcbec22b2e",
        "type": "random",
        "z": "b3eb4265a1be88d8",
        "name": "Lucky Number",
        "low": "10",
        "high": "99",
        "inte": "true",
        "property": "random",
        "x": 300,
        "y": 240,
        "wires": [
            [
                "4fe8954667297f06",
                "4b3c76a2671593db"
            ]
        ]
    }
]